NEXT_PUBLIC_APP_NAME='Mituni'
NEXT_PUBLIC_APP_DESCRIPTION='This is a Mituni'
NEXT_PUBLIC_APP_URL='http://localhost:3000'

# NEXT_PUBLIC_API_URL='https://mituni-api.lapeh.web.id'
NEXT_PUBLIC_API_URL='https://service-laundry.mituni.cloud'
NEXT_PUBLIC_API_MITUNI_KEY='mituni2026'

#AUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="chj2BkfZ9CM37lgnLEORkaNj7GakzY1EJouC7uNF+EI="

#Security
ARCJET_KEY='arcjet-key-2026'
AUTH_FREEZE_DURATION_SECONDS=30
AUTH_MAX_ATTEMPTS=5

# Tracking
NEXT_PUBLIC_ENABLE_TRACKING=false
# Tracking Cookie
NEXT_PUBLIC_COOKIE_KEY="mituni2026"